html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin         : 0;
  padding        : 0;
  border         : 0;
  font-size      : 100%;
  font           : inherit;
  vertical-align : baseline;
  font-family    : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display : block;
}

a {
  display         : inline-block;
  text-decoration : none;
  color           : blue;
  opacity         : 1;

  &:hover,
  &:active,
  &:focus {
    color           : blue;
    opacity         : .5;
    text-decoration : none;
  }
}

ul {
  list-style: none;
}

p,
a,
span {
  font-weight: lighter;
}

.home-container,
.cv-container {
  // flex    : 1 1 100%;
  padding : 20px;

  @include breakpoint(xs-up) {
    // flex    : 0 0 75%;
    padding : 0px;
  }

  .inner {
    padding : 0px;

    @include breakpoint(xs-up) {
      // padding: 10% 5%;
      display : flex;
    }

    .piece {
      flex: 1 0 70%;

      .piece-inner {
        padding: 40px 5%;
        text-align : center;
      }
    }

    .piece-info {
      // flex: 1 0 30%;
      padding: 40px 0px;
    }
  }

  img {
    width : 100%;
    margin: 10px 0px;

    @include breakpoint(xs-up) {
      width: 80%;
      margin: 0px 0px 50px 0px;
    }
  }

  .piece {
    margin-bottom: 40px;
  }
}

.work-container,
.cv-container {
  margin-top: 50px;

  @include breakpoint(xs-up) {
    margin-top: 0px;
  }
}

.cv-container {
  .inner {
    display: block;
    padding: 70px 5%;
  }
}

.work-container {
  // flex    : 1 1 100%;
  padding : 20px;

  @include breakpoint(xs-up) {
    // flex    : 0 0 75%;
    padding : 0px;
  }

  img {
    width: 60%;
  }
}
