.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/src/assets/audio
/src/assets/images
/src/assets/videos
.mp4
.mp3

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
